/* .card {
  align-items: center;
  text-align: center;
  border: 1px solid lightgray;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
h1 {
  border-bottom: 3px solid black;
} */
